Haeve Saenke styring.json
[{"id":"8f05352d.3034e8","type":"tab","label":"Styring","disabled":false,"info":""},{"id":"cbb8ae8e.7011","type":"ui_text","z":"8f05352d.3034e8","group":"dc7f4b6d.8df938","order":3,"width":4,"height":1,"name":"","label":"Klinge Hoejde","format":"{{msg.payload}}","layout":"row-spread","className":"","x":920,"y":80,"wires":[]},{"id":"2c32cf39.d8187","type":"eth-ip in","z":"8f05352d.3034e8","endpoint":"386df387.e2ffec","mode":"single","variable":"HS_Hoejde.ACC","program":"","name":"","x":240,"y":80,"wires":[["b71ad9ac.2846c8"]]},{"id":"c8da5f1b.ce112","type":"ui_numeric","z":"8f05352d.3034e8","name":"","label":"Planke Tykkelse","tooltip":"","group":"dc7f4b6d.8df938","order":6,"width":5,"height":1,"wrap":false,"passthru":true,"topic":"payload","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":"5","className":"","x":240,"y":240,"wires":[["55d3723d.e9f1fc"]]},{"id":"cb0f5582.075998","type":"eth-ip out","z":"8f05352d.3034e8","endpoint":"386df387.e2ffec","variable":"Nodered_HS_Oensket_Hoejde","program":"","name":"","x":1270,"y":300,"wires":[]},{"id":"b71ad9ac.2846c8","type":"function","z":"8f05352d.3034e8","name":"Hoejde variabel","func":"flow.set(\"Hoejde\", msg.payload * 0.61) ||0; // Hoejden i mm\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":80,"wires":[["76b98af6.8802b4"]]},{"id":"76b98af6.8802b4","type":"change","z":"8f05352d.3034e8","name":"Hoejde","rules":[{"t":"set","p":"payload","pt":"msg","to":"Hoejde","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["cbb8ae8e.7011"]]},{"id":"55d3723d.e9f1fc","type":"function","z":"8f05352d.3034e8","name":"Planke Tykkelse variabel","func":"flow.set(\"PlankeTykkelse\", msg.payload)||0;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":240,"wires":[[]]},{"id":"ee908ff0.e48b3","type":"ui_button","z":"8f05352d.3034e8","name":"","group":"dc7f4b6d.8df938","order":8,"width":5,"height":1,"passthru":true,"label":"Naeste Planke","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"NaestePlanke","topicType":"flow","x":240,"y":300,"wires":[["6b66b6eb.5b7b28","d284ff6c.369b4","332a35f8.ff085a"]]},{"id":"8d25ff30.9e3f","type":"change","z":"8f05352d.3034e8","name":"Oensket Hoejde","rules":[{"t":"set","p":"payload","pt":"msg","to":"OensketHoejde","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":300,"wires":[["fea4a99b.91c4e8"]]},{"id":"7f5bee3b.dab34","type":"ui_text","z":"8f05352d.3034e8","group":"dc7f4b6d.8df938","order":14,"width":0,"height":0,"name":"","label":"Oensket Hoejde til PLC","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1230,"y":360,"wires":[]},{"id":"5b9d5c4f.f351c4","type":"change","z":"8f05352d.3034e8","name":"Oensket Hoejde i mm","rules":[{"t":"set","p":"payload","pt":"msg","to":"OensketHoejdemm","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":360,"wires":[["7f53fdc5.f831e4"]]},{"id":"7f53fdc5.f831e4","type":"ui_text","z":"8f05352d.3034e8","group":"dc7f4b6d.8df938","order":10,"width":4,"height":1,"name":"","label":"Oensket Hoejde i mm","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1220,"y":420,"wires":[]},{"id":"6eb71542.6d711c","type":"ui_button","z":"8f05352d.3034e8","name":"","group":"dc7f4b6d.8df938","order":11,"width":5,"height":1,"passthru":false,"label":"Planke Skaaret","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"PlankeSkaaret","topicType":"flow","x":240,"y":480,"wires":[["65e42c15.60fed4","7b3d1dba.fb0574","202bbd35.e69e42"]]},{"id":"e9c0e5b8.869148","type":"inject","z":"8f05352d.3034e8","name":"","topic":"","payload":"OensketHoejde","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":920,"wires":[["23ffa494.75046c"]]},{"id":"23ffa494.75046c","type":"debug","z":"8f05352d.3034e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":920,"wires":[]},{"id":"6b66b6eb.5b7b28","type":"function","z":"8f05352d.3034e8","name":"Oensket Hoejde","func":"if (msg.payload === true) {\n    flow.set(\"OensketHoejdemm\", flow.get(\"ReferenceHoejde\") - flow.get(\"PlankeTykkelse\")) // Oensket Hoejde i mm\n    flow.set(\"OensketHoejde\", (flow.get(\"ReferenceHoejde\") - flow.get(\"PlankeTykkelse\"))/0.61) // Oensket Hoejde i magnetafstande\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["8d25ff30.9e3f","5b9d5c4f.f351c4"]]},{"id":"c3fdf236.02acc","type":"inject","z":"8f05352d.3034e8","name":"","topic":"","payload":"PlankeTykkelse","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":960,"wires":[["bb993afc.d46d58"]]},{"id":"bb993afc.d46d58","type":"debug","z":"8f05352d.3034e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":960,"wires":[]},{"id":"daec90f3.bbda8","type":"inject","z":"8f05352d.3034e8","name":"","topic":"","payload":"OensketHoejdemm","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1000,"wires":[["11b12ccb.87f403"]]},{"id":"11b12ccb.87f403","type":"debug","z":"8f05352d.3034e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1000,"wires":[]},{"id":"fea4a99b.91c4e8","type":"calculator","z":"8f05352d.3034e8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"round","constant":"","round":false,"decimals":0,"x":980,"y":300,"wires":[["cb0f5582.075998","7f5bee3b.dab34"]]},{"id":"332a35f8.ff085a","type":"eth-ip out","z":"8f05352d.3034e8","endpoint":"386df387.e2ffec","variable":"Nodered_HS_Naeste_Hoejde","program":"","name":"Naeste Hoejde","x":740,"y":400,"wires":[]},{"id":"7b3d1dba.fb0574","type":"eth-ip out","z":"8f05352d.3034e8","endpoint":"386df387.e2ffec","variable":"Nodered_HS_Planke_Skaaret","program":"","name":"Planke Skaaret","x":740,"y":480,"wires":[]},{"id":"e49761b.bf258a","type":"inject","z":"8f05352d.3034e8","name":"","topic":"","payload":"ReferenceHoejde","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1040,"wires":[["a4063b23.64c868"]]},{"id":"a4063b23.64c868","type":"debug","z":"8f05352d.3034e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":1040,"wires":[]},{"id":"d284ff6c.369b4","type":"delay","z":"8f05352d.3034e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":400,"wires":[["7689048b.b34a9c"]]},{"id":"7689048b.b34a9c","type":"change","z":"8f05352d.3034e8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":400,"wires":[["332a35f8.ff085a"]]},{"id":"eaa927f2.42bd08","type":"eth-ip out","z":"8f05352d.3034e8","endpoint":"386df387.e2ffec","variable":"HS_Tolerance","program":"","name":"","x":740,"y":560,"wires":[]},{"id":"8942b754.d60468","type":"ui_numeric","z":"8f05352d.3034e8","name":"","label":"Tolerance paa oensket hoejde","tooltip":"","group":"dc7f4b6d.8df938","order":16,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"10","step":"1","className":"","x":290,"y":560,"wires":[["eaa927f2.42bd08"]]},{"id":"ee63257b.94d758","type":"eth-ip out","z":"8f05352d.3034e8","endpoint":"386df387.e2ffec","variable":"HS_Vent.PRE","program":"","name":"","x":740,"y":620,"wires":[]},{"id":"47b52bbe.bde424","type":"ui_numeric","z":"8f05352d.3034e8","name":"","label":"Ventetid","tooltip":"","group":"dc7f4b6d.8df938","order":17,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"50","max":"1000","step":"50","className":"","x":220,"y":620,"wires":[["ee63257b.94d758"]]},{"id":"65e42c15.60fed4","type":"delay","z":"8f05352d.3034e8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":500,"wires":[["31dcd2df.76e29e"]]},{"id":"31dcd2df.76e29e","type":"change","z":"8f05352d.3034e8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":591,"y":500,"wires":[["7b3d1dba.fb0574"]]},{"id":"884de5c5.41c9e8","type":"inject","z":"8f05352d.3034e8","name":"","topic":"","payload":"Hoejde","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":880,"wires":[["51c9bfb6.30cd8"]]},{"id":"51c9bfb6.30cd8","type":"debug","z":"8f05352d.3034e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":880,"wires":[]},{"id":"16fb8a83.c7ac65","type":"ui_button","z":"8f05352d.3034e8","name":"","group":"dc7f4b6d.8df938","order":1,"width":5,"height":1,"passthru":false,"label":"Set Reference Hoejde","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":260,"y":180,"wires":[["202bbd35.e69e42"]]},{"id":"202bbd35.e69e42","type":"function","z":"8f05352d.3034e8","name":"Reference Hoejde","func":"if (msg.payload === true) {\n    flow.set(\"ReferenceHoejde\", flow.get(\"Hoejde\"));\n}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["d10c0be3.15ea78"]]},{"id":"4dc42000.3ae74","type":"ui_text","z":"8f05352d.3034e8","group":"dc7f4b6d.8df938","order":4,"width":5,"height":1,"name":"","label":"Reference Hoede","format":"{{msg.payload}}","layout":"row-spread","className":"","x":910,"y":180,"wires":[]},{"id":"d10c0be3.15ea78","type":"change","z":"8f05352d.3034e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ReferenceHoejde","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":180,"wires":[["4dc42000.3ae74"]]},{"id":"dc7f4b6d.8df938","type":"ui_group","z":"","name":"Styring","tab":"b972e5fa.629a38","order":1,"disp":true,"width":10,"collapse":false,"className":""},{"id":"386df387.e2ffec","type":"eth-ip endpoint","z":"","address":"192.168.1.150","slot":"0","cycletime":"1000","timeout":"10000","name":"","connectedMess":true,"vartable":{"":{"Nodered_HS_Naeste_Hoejde":{"type":"BOOL"},"Nodered_HS_Oensket_Hoejde":{"type":"INT"},"Nodered_HS_Planke_Skaaret":{"type":"BOOL"},"HS_Hoejde.ACC":{"type":"DINT"},"HS_Tolerance":{"type":"INT"},"HS_Vent.PRE":{"type":"DINT"}}}},{"id":"b972e5fa.629a38","type":"ui_tab","z":"","name":"Styring","icon":"dashboard","order":1,"disabled":false,"hidden":false}]